<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peteleco.appet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_atualizado"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_atualizado_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".NotificationService"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ProjetoEspecifico.MenuInicial.DetalheTarefas.DetalhesTarefaActivity" />
        <activity android:name=".ProjetoEspecifico.MenuInicial.AdicionarTarefa.AdicionarTarefaActivity" />
<!--        <activity-->
<!--            android:name=".Pautas.PautasActivity"-->
<!--            android:parentActivityName=".InformacaoPessoal.InformacaoPessoalActivity" />-->
        <activity
            android:name=".InformacaoPessoal.TrocarSenhaActivity"
            android:parentActivityName=".InformacaoPessoal.InformacaoPessoalActivity" />
        <activity android:name=".ProjetoEspecifico.MenuInicial.ModerarMembros.ModerarMembrosActivity" />
        <activity
            android:name=".InformacaoPessoal.InformacaoPessoalActivity"
            android:parentActivityName=".MenuInicial.ProjetosActivity" />
        <activity
            android:name=".addNovoProjeto.NovoProjetoActivity"
            android:parentActivityName=".MenuInicial.ProjetosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.peteleco.appet.MenuInicial.ProjetosActivity" />
        </activity>
        <activity
            android:name=".ProjetoEspecifico.MenuInicial.ModeloProjetoEspecificoActivity"
            android:label="@string/title_activity_projeto_especifico"
            android:parentActivityName=".MenuInicial.ProjetosActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.peteleco.appet.MenuInicial.ProjetosActivity" />
        </activity>
        <activity android:name=".MenuInicial.ProjetosActivity" />
        <activity
            android:name=".Autenticacao_Login.EsqueceuSenhaActivity"
            android:parentActivityName=".Autenticacao_Login.LoginActivity" />
        <activity
            android:name=".Autenticacao_Login.CadastrarActivity"
            android:parentActivityName=".Autenticacao_Login.LoginActivity" />
        <activity android:name=".Autenticacao_Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>